/*Load all custom fonts using fontface*/
@font-face {
    font-family: 'capsuular';
    src: url('../assets/fonts/Capsuula-webfont.eot');
    src: url('../assets/fonts/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Capsuula-webfont.woff') format('woff'),
         url('../assets/fonts/Capsuula-webfont.ttf') format('truetype'),
         url('../assets/fonts/Capsuula-webfont.svg#capsuularegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'antipasto';
    src: url('../assets/fonts/Antipasto_regular.otf') format('opentype');
    font-weight: normal;
}
@font-face{
    font-family: 'bandy';
    src: url('../assets/fonts/bandy.TTF') format('truetype');
    font-weight: bold;
}
html{
    overflow-x: hidden;
}
html h2{
    font-family: 'Julius Sans One', sans-serif;
}
html a{
    font-family: 'antipasto';
}
/*Upper space*/
#upper-space{
    width: 100%;
    height: 10px;
}
html, body, #landing{
    width: 100%;
    height: 100%;
    background: url(../assets/images/bg_landing_blur.jpg) no-repeat fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
nav{
    background-color: transparent !important;
    border-color: transparent !important;
    z-index: 6;
}
#navigation-bar{
    font-size: 1.2em;
}
#navigation-bar li a{
    color: #fff;
}
#navigation-bar li a:hover{
    color: #f29100;
    transition: ease .4s;
}
#landing h2{
    font-weight: bold;
    font-size: 5em;
    padding-top: 1em;
}
#landing h4{
    font-family: 'antipasto';
    font-size: 2em;
}
/*
* Button styling
*/
.btn-large{
    position: relative;
    width: 205px;
    height: 60px;
    background-color: transparent;
    font-family: 'antipasto';
    border: 3px;
    border-style: solid;
    border-color: #fff;
    font-size: 1.5em !important;
    margin: 1.2em;
}
.btn-large:hover{
    background-color: #f29100;
    color: #fff;
    transition: ease .6s;
}
.btn-large::after{
     position: absolute;
      content: '';
      top:0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #f29100;
      transform-origin:left;
      transition:width 0.4s ease;
      z-index:-1;
}
.btn-large:hover::after{
    width: 100%;
}
/* end of button styling*/
#brief-info{
    width: 100%;
    background: #fff;
    font-family: 'antipasto', serif;
    font-size: 1.7em;
    padding: 1.3em 0 0 0;
}
.more-info{
    width: 100%;
    height: 6em;
    background: #f29100;
    text-align: center;
    margin: 1.3em 0 0 0;
}
.more-info h3{
    padding: 1em 0 0 0;
    font-size: 1.7em;
}
